
* {
    background-color: #fbf8f4;
    margin-top: 10;
    margin-right: 10;
    margin-left: 10;
    margin-bottom: 0;
    padding: 0;
    box-sizing: border-box;
} 

.hero{
     background-image: url("hero_image_restaurant_HD.avif") ;
     width :100vw;
     background-size: cover;
     background-repeat: no-repeat;
     height: 750px;
     background-image: linear-gradient(rgba (0,0,0,0.3));
}

.navbar {
    background: transparent;
    margin: 10px;
    padding: 20px;
    }

    a {
    color : #eeeaea;
    text-decoration: none;
     background: transparent;
     margin: 10px;
    padding: 20px;
    font-size: 20px;
    }

    a:hover {
        color: #A94A4A;
        font-size: 20px;
        text-decoration: #A94A4A underline ;
    }
    
    a:active {
         color: #A94A4A;
        font-size: 20px;   
         text-decoration: #A94A4A underline ;
        
    }
/*     
    a:visited {
         color: #A94A4A;
        font-size: 20px;   
         text-decoration: #A94A4A underline ;} */
    
    
    .content {
        text-align: center;
        margin-top: 150px;
        background: transparent;
        /* background-color: transparent; */
    }
    
    #button {
        font-size: 25px;
        text-align: center;
        display: flex;
        justify-content: center;
         align-items: center;
         margin: 20px;
         padding: 20px;
         background: transparent;   
    }

    button {
          background-color: #fbf8f4;
          border-radius: 25px;
          margin: 10px;
          padding: 20px;
          color: #A94A4A;       
        }
        
        button:hover {
            background-color: #A94A4A;
            color: #fbf8f4;
            font-size: 16px;     
        }
        
        button:active {
            background-color: #A94A4A;
            color: #fbf8f4;
            font-size: 16px;
        }

        pre {
            background: transparent;
            font-size: 45px;
            color: #fbf8f4;
        }
        
        p {
            background: transparent;
            font-size: 25px;
            color: #fbf8f4;
            margin-left: 40px;
            margin-right: 40px;
        }

        #menu {
            color :#A94A4A;
            font-size: 20px;
        }
        
        #menu:hover {
            color: #fbf8f4;
            font-size: 25px;
        }
        
        .dining-image {
            background-image: url("dining.avif");
            height: 500px;
            width: auto;
            margin: 35px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .dining {
              background: transparent;
              display: flex;
            justify-content: left;
            align-items: flex-end; 
            margin-top: 20px;
            padding: 20px;        
        }

        .dining-text {
            background: transparent;          
            margin-top: 300px;       
        }

        #text {
            font-size: 16px;
        }
        #heading {
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }

        h3 {
            color: #A94A4A;
            text-align: center;
        }

        h5 {
            font-size: 70px;
            text-align: center;
            font-weight: 100;
        }
        
        .food {
            width: auto;
            height: 300px;
        }
        
        h6 {
            font-size: 29px;
            color: #A94A4A;
            margin: 10px;
            padding: 10px;
        }

        h5 {
            color: #AA2B1D;
            font-size: 70px;
            font-weight: 350px;
            margin: 5px;
            padding: 5px;
            background: transparent;

        }

        ul {
        list-style-type: armenian;
          font-family: Arial, Helvetica, sans-serif;
          color: #C9CAAC;
          font-size: 24px;
          margin-left: 30px;
          background: transparent;
        }
        
        li {
            background: transparent;
        }

        #Values {
           
            height: auto;
            width: auto;
            background-color: #868363 ;
            border : 2px solid #978F66;
            border-radius: 25px;
            margin: 10px;
            padding: 10px;
            margin-top: 20px;
        }

        .Values {
            color: #50604a;
             font-size: 26px;
        }
        
         .bodydiv {
        display: flex;
        flex-direction: column;
        bottom: 0px;
    }

        footer {
            color: white;
             text-align: center;
             background: transparent;
        }
         

  #footer {
           background-color: rgb(26, 24, 24);
            color: white;
            display: flex; 
            height: fit-content;
            justify-content:space-evenly;
            position: relative;
            flex-wrap: wrap;
            bottom: 0; 
            width: 100vw;   
            
  }

  .copyright {
    width: 100%;
    background-color: black;
    padding-top: 4vh;
    text-align: center;
  }
  
  a {
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  b {
    background: transparent;
    color: white;
  }
  
  #Menu, #links, #address {
    background: transparent;
    font-size: 20px;
    margin-top: 4vh;
  }


  /* CSS for about page */
  .about {
    background-image: url("about_page_hero_img.avif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 100vw;
  } 
  .abt {
    background: transparent;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 20px;
  }

  #story {
    color: #978F66;
    font-size: 25px;
  }
  
  .story {
    color: #868363;
    font-size: 16px;
  }
  
  #belief {
    height: 1100px;
    display: flex;
    width : 90vw;
    flex-direction: column;
    background-color: rgb(26, 76, 64) ;
    justify-content: space-evenly ;
    margin-left: 4vw;
     margin-bottom: 8vh;
    border-radius: 15px;
    /* padding: 60 50; */
  }
  #innovation, #elegance, #sustainability, #hospitality {
    background-color: #C9CAAC;
    color: #978F66;
    margin: 60 ;
    border-radius: 15px;

  }

  h5 {
    margin: 10px; 
    padding: 10px;
 }

 .bold {
    color: #AA2B1D;
    font-size: 28px;
 }
 
 h3, h6 {
    background: #fbf8f4;
    text-align: center;
 }

    .cuisine {
        text-align: left;
    }
 
 .copyright {
    margin-bottom: 15px;
    background: transparent;
 }

 
    /* menu page styling */
    
    h1 {
        color: rgb(89, 25, 25);
        font-weight: 100;    
        text-align: center;
    }
    
    #active {
        color: #A94A4A;
        text-decoration: #A94A4A underline;
    }
    
    .menu-anchortags {
        color: #978F66;
    }
    
    .menu-anchor {
        text-align: center;
    }
    
    .all-category {
         display: flex;
         flex-wrap: wrap;
         height: fit-content;
         width: auto;
         margin:4.5vh 4.5vw ;
         border: 2px solid rgb(48, 80, 1);
         justify-content: center;
    }
    
    .All-category {
        height: 110px;
        width: 140px;
        border: 2px dashed rgb(48, 80, 1);
        border-radius: 9px;
        padding: 4px;
        margin: 9px;
    }

    .menu-bold {
        color: #9AB17A;
        text-align: center;
        font-size: 19px;
        font-family: Arial, Helvetica, sans-serif;
    }

    
    .menu-price {
        color: #D96868;
    }

    .menu-heading-m {
        font-size: 25px;
    }
    
    .menu-heading-h {
        width: 100%;
    }
    
    .contact {
        
        display: flex;
        justify-content: center ;
        width: 90vw;
        height: fit-content;
        background-color: rgb(3, 53, 33);
        margin: 50px;
    }

    
    #infrmn {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: rgb(158, 67, 31);
        background: transparent;
        font-weight: 200;
    }

    #inf {
        color: white;
        background: transparent;
    }

    #optime {
        background: transparent;
        font-size: 45px;
        font-weight: 150;
        text-align: center;
    }

.contact-b  {
    font-size: 25px;
    color: rgb(116, 70, 70);
    text-align: center;
    display: block;
}


.contact-p {
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
}


#mrgn {
    margin-bottom: 3.5vh;
}

.a {
    
    display: block;
}


/* for mobile*/
 @media screen  and (max-width:768px) {
    * {
        margin: 0;
        padding: 0;
        margin-left: 0.45vw;
    }
    
    .hero {
        background-image: url(hero_img_phone.avif);
        width: 100vw;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .navbar {
        background: transparent;
        margin: 0.3vh;
    }
    
    a {
        display: block;
        margin: 0.3vh;
    }
    
    #stefh {
        font-size: 2.3em;
        color: #0e0f0e;
    }
    
    #button {
        font-size: 1.5em;          
    }

    button {
       margin: 0.01vh 0.01vw;
        padding: 0.01vh 0.01vw; 
    }

    #intro {
        color: rgb(32, 9, 9);
    }

    .content {
        margin-top: 5vh;
    }

    .dining-image{
        height: fit-content;
        width: auto;
        
    }
    .dining {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 2vh;
        padding: 0;
    }

    .dining-text {
        margin-top: 8vh;
        text-align: left;
    }

    #heading {
        text-align: left;
    }
     
    #text { 
        font-size: 1em;

    }

    h5 {
        font-size: 2em;
    }
    
    h6, .cuisine{
        font-size: 2.3em;
    }

    #footer {
        display: flex;
        flex-wrap: wrap;
    }

    a {
          margin-top: 0.01vh;
        margin-bottom: 0;
        padding-top: 0.01vh;    
    }



    
 }
    
   
    
   
    