
* {
    background-color: #fbf8f4;
    margin : 30;
    padding: 0;
    box-sizing: border-box;
} 

.hero{
     background-image: url("hero_image_restaurant_HD.avif") ;
     width :100vw;
     background-size: cover;
     background-repeat: no-repeat;
     height: 750px;
     background-image: linear-gradient(rgba (0,0,0,0.3));
}

.navbar {
    background: transparent;
    margin: 10px;
    padding: 20px;
    }

    a {
    color : #eeeaea;
    text-decoration: none;
     background: transparent;
     margin: 10px;
    padding: 20px;
    font-size: 20px;
    }

    a:hover {
        color: #A94A4A;
        font-size: 20px;
    }
    
    a:active {
         color: #A94A4A;
        font-size: 20px;   
    }
    
    .content {
        text-align: center;
        margin-top: 150px;
        background: transparent;
        /* background-color: transparent; */
    }
    
    #button {
        font-size: 25px;
        text-align: center;
        display: flex;
        justify-content: center;
         align-items: center;
         margin: 20px;
         padding: 20px;
         background: transparent;   
    }

    button {
          background-color: #fbf8f4;
          border-radius: 25px;
          margin: 10px;
          padding: 20px;
          color: #A94A4A;       
        }
        
        button:hover {
            background-color: #A94A4A;
            color: #fbf8f4;
            font-size: 16px;     
        }
        
        button:active {
            background-color: #A94A4A;
            color: #fbf8f4;
            font-size: 16px;
        }

        pre {
            background: transparent;
            font-size: 45px;
            color: #fbf8f4;
        }
        
        p {
            background: transparent;
            font-size: 25px;
            color: #fbf8f4;
            margin-left: 40px;
            margin-right: 40px;
        }

        #menu {
            color :#A94A4A;
            font-size: 20px;
        }
        
        #menu:hover {
            color: #fbf8f4;
            font-size: 25px;
        }
        
        .dining-image {
            background-image: url("dining.avif");
            height: 500px;
            width: auto;
            margin: 35px;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        .dining {
              background: transparent;
              display: flex;
            justify-content: left;
            align-items: flex-end; 
            margin-top: 20px;
            padding: 20px;        
        }

        .dining-text {
            background: transparent;          
            margin-top: 300px;       
        }

        #text {
            font-size: 16px;
        }
        #heading {
            font-size: 25px;
            font-family: Arial, Helvetica, sans-serif;
        }

        h3 {
            color: #A94A4A;
            text-align: center;
        }

        h5 {
            font-size: 70px;
            text-align: center;
            font-weight: 100;
        }
        
        .food {
            width: auto;
            height: 300px;
        }
        
        h6 {
            font-size: 29px;
            color: #A94A4A;
            margin: 10px;
            padding: 10px;
        }

        h5 {
            color: #AA2B1D;
            font-size: 70px;
            font-weight: 350px;
            margin: 5px;
            padding: 5px;
            background: transparent;

        }

        ul {
        list-style-type: armenian;
          font-family: Arial, Helvetica, sans-serif;
          color: #C9CAAC;
          font-size: 24px;
          margin-left: 30px;
          background: transparent;
        }
        
        li {
            background: transparent;
        }

        #Values {
           
            height: auto;
            width: auto;
            background-color: #868363 ;
            border : 2px solid #978F66;
            border-radius: 25px;
            margin: 10px;
            padding: 10px;
            margin-top: 20px;
        }

        .Values {
            color: #50604a;
             font-size: 26px;
        }
        
        footer {
            background-color: black;
            color: white;
             text-align: center;
        }
         

  #footer {
           background-color: black;
            color: white;
            display: flex; 
            height: 240px;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
  }
  
  a {
    background: transparent;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  b {
    background: transparent;
    color: white;
  }
  
  #Menu, #links, #address {
    background: transparent;
    font-size: 20px;
  }

   #Menu, #links, #address [a] {
    margin:15px;

   }



  /* CSS for about page */
  .about {
    background-image: url("about_page_hero_img.avif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 100vw;
  } 
  .abt {
    background: transparent;
    display: flex;
    justify-content: start;
    align-items: start;
    font-size: 20px;
  }

  #story {
    color: #978F66;
    font-size: 25px;
  }
  
  .story {
    color: #868363;
    font-size: 16px;
  }
  
  #belief {
    height: 1100px;
    display: flex;
    width : 90vw;
    flex-direction: column;
    background-color: rgb(26, 76, 64) ;
    justify-content: space-evenly ;
    margin-left: 4vw;
     margin-bottom: 8vh;
    border-radius: 15px;
    /* padding: 60 50; */
  }
  #innovation, #elegance, #sustainability, #hospitality {
    background-color: #C9CAAC;
    color: #978F66;
    margin: 60 ;
    border-radius: 15px;

  }

  h5 {
    margin: 10px; 
    padding: 10px;
 }

 .bold {
    color: #AA2B1D;
    font-size: 28px;
 }
 
 h3, h6 {
    background: #fbf8f4;
    text-align: center;
 }

    .cuisine {
        text-align: left;
    }
 
 .copyright {
    margin-bottom: 15px;
    background: transparent;

 
